
.swap{
    max-width: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftOption{
    margin-right: 20px;
}
.rightOption{
    margin-left: 20px;
}
.swap:hover{
    cursor: pointer;
}
.container0{
    display: flex;
    justify-content: center;
    align-items: center;
 
    
}
.title{
    margin-top: 10%;
    text-align: center;
}
.input{
    display:inline-flex;
    justify-content: center;
    align-items: center;
}
.output{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

